/* Pretendard Thin (100) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Pretendard ExtraLight (200) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Pretendard Light (300) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Pretendard Regular (400) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Pretendard Medium (500) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Pretendard SemiBold (600) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Pretendard Bold (700) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Pretendard ExtraBold (800) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Pretendard Black (900) */
@font-face {
    font-family: 'Pretendard';
    src: url('../shared/assets/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Nanum Pen Script (400) */
@font-face {
    font-family: 'NanumPenScript';
    src: url('../shared/assets/fonts/NanumPenScript-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}